.title {
    color: white;
    background-color: black;
}
body {
    text-align: center;
    background-color: rgb(213, 235, 213);
    color: black;
}

li {
    display: inline-flex;
    list-style: none;
    margin: 50px 100px;
    border: 2px;
    border-color: black;
    border-style: solid;
}